* {
  margin: 0;
  padding: 0;
  gap: 0;
}

.logo{
  margin-left: 2%;
  width:50px;
  position:absolute;
  top:12;
  left:0;
}

.nav-list{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
    gap:20px;
    margin-left: 20%;
    margin-right: 20%;
}

.nav-item {
    flex:1;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    height:50px;
    transition: transform 0.3s ease
}

.nav-link{
  text-decoration: none;
}

.nav-desc{
  font-size: 16px;
  font-family: Roboto,sans-serif;
  text-align: center;
  text-decoration: none;
  color:black;
}

.Selected-Nav{
  background-color: rgb(229, 69, 69);
  color:white;
  padding:10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}

.Intro{
  text-indent: 10px;
  background-color:rgb(229, 69, 69);
  color:White;
  border-radius: 5px;
}
.Marco-Desc{
  font-family:  "Roboto",sans-serif;
  margin-left:20%;
  margin-right: 20%;
}

header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 2;
}

body{
  position:relative;
  margin:0;
  box-sizing: inherit;
  min-height: 100%;
  padding:10px;
}
main{
  box-sizing: inherit;
  padding-bottom: 500px;
}

/* .Seperators{
} */

html {
  box-sizing: border-box;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  height:100%;
  padding:0;
}

h1{
  font-family:  "Roboto",sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 24px;
}

h2{
  font-family: Roboto,sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18px;
}

hr{
  margin-top:3%
}
section{
  margin-top: 5rem;
}

.Personal-Picture{
  width:200px;
  height:200px;
  border-radius: 60px;
  float:left;
  margin-top:-20px;
  margin-left:5%;
  z-index: 1;
}

.Marco-Desc{
    font-family:  "Roboto",sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}
.link{
  text-decoration: none;
  color:rgb(229, 69, 69);
}

.Socials-List{
    display: flex;
    flex-wrap:wrap;
    list-style-type: none;
    margin-left:17%;
    gap:20px;
}

.Socials-Item{
    width:30px;
    height:30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Socials-Icons{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.Socials-Item:hover {
    transform: scale(1.20); /* Slightly enlarge */
  }

/* List container */
.Project-List {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    gap: 20px; /* Space between items */
    justify-content: center; /* Center the items */
  }
  
  /* Individual project box */
  .Project-Item {
    width: 250px; /* Adjust as needed */
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .Project-Title{
    font-family: Roboto,sans-serif;
    font-size: 20;
    background-color: rgb(229, 69, 69);
    color:white;
    border-radius: 5px;
  }

  /* Image inside the project box */
  .Project-Image {
    width: 250px; /* Full width */
    height: 250px; /* Maintain aspect ratio */
    border-radius: 20px;
  }
  
  /* Project description */
  .Project-Desc {
    font-family:  "Roboto",sans-serif;
    font-size: 14px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
  }
  
  /* Hover effect for project boxes */
  .Project-Item:hover {
    transform: scale(1.10); /* Slightly enlarge */
    z-index: 1;
  }

.Marco-Skills{
  font-family: Roboto,sans-serif;
  margin-left: 20%;
}

.Skills-List{
  display:flex;
  flex-wrap:wrap;
  list-style-type: none;
  margin-left:20%;
  margin-right:20%;
  gap:30px;
}

.Skills-Item{
    width:40px;
    height:40px;

    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.Skills-Icons{
    width: 100%;
    height: 100%;
}

.skills-Desc {
  font-family:  "Roboto",sans-serif;
  text-align: center;
  font-size: 12px;
  color: #333;
}

.Skills-Item:hover {
  transform: scale(1.20); /* Slightly enlarge */
}



.Project-Headers{
  
}
.Seperators{
  line-height: 1600%;
}

.Project-Headers-Background{
  background-color:rgb(229, 69, 69);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color:white;
}
.Project1-Desc{
  margin-left: 20%;
  margin-right: 20%;
  font-family: Roboto,sans-serif;
}
footer{
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  height:170px;
  background-color: rgb(0, 0, 0);
}

footer .Socials-List{
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line */
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 40;
  gap: 20px; /* Space between items */
  justify-content: center; /* Center the items */
}

.Footer-Desc{
  font-family: Roboto,sans-serif;
  text-align: center;
  color:white;
}

.Project-Images{
  width: 400px;
  margin-left:20%;
}